---
- name: "Get ansible date/time facts"
  setup:
    filter: "ansible_date_time"
    gather_subset: "!all"

- name: "Store DTG as fact"
  set_fact:
    DTG: "{{ ansible_date_time.iso8601_basic_short }}"
...
